<div class="card m-1">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="cart.Product.url" class="img-fluid" alt="Item image" />
      </div>
      <div class="col-md-8 text-center">
        <div class="card-body">
          <h5 class="card-title">{{ cart.Product.name }}</h5>
          <p class="card-text">{{ cart.Product.price | currency }}</p>
          Amount : <input type="number" name="ItemQuantity" class="form-control" min="1"
          [(ngModel)]="cart.ItemQuantity"
          (ngModelChange)="QuantityChanged($event)" 
          />
        </div>
      </div>
      <div class="col-md-12 card-footer  text-center">
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="RemoveItemFromCart(cart)">
          Remove from cart  <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
